#arrow {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2.3rem;
}

.btn-panel {
    float: right;
    background-color: lightgray;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-top: 5rem;
    margin-right: 0.5rem;
    height: 3rem;
    width: 12rem;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-panel:hover {
    background-color: darkgray;
}

.panel {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px 10px 10px;
    width: 70rem;
    height: 15rem;
    margin: auto;
    margin-top: 3rem;
    /* border: 3px solid red; */
}

.panel-info {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 10px 10px;
    width: 70rem;
    height: 20rem;
    margin: auto;
    margin-top: 0;
    background-color: white;
}

.header {
    background-color: #5584AC;
    color: white;
    margin-top: 7rem;
    padding: 15px;
}

.body {
    background-color: white;
}

/* how do I keep the button's opacity to stay at 100% ? */
.body:hover {
    opacity: 70%;
}

#col-panel {
    height: 100%;
}

#header-from-to {
    height: 100%;
}

.flight-info-text {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.col-btn {
    padding-right: 15px;
}

body {
    background-color: #95D1CC;
}

footer {
    background-color: #1c1c1b;
    color: #dedede;

    margin: 0;
    margin-top: 5rem;

    max-width: 100%;
    height: 20rem;

    border-radius: 5px 5px 0 0;
}

/* h1, p, i {
    border: 2px solid black;
} */